/* ==========================================
   COUNTDOWN
========================================== */

.count{
    display:grid;
    justify-content:center;
    gap:18px;
    margin:2rem 0;
    flex-wrap:wrap;
    grid-template-columns:repeat(4,1fr);
    gap:12px;
}

.count div{
    background:rgba(255,255,255,.08);
    padding:18px;
    border-radius:var(--radius-medium);
    /* min-width:90px; */
    min-width:unset;
    width:100%;
}

.count span{
    display:block;
    font-size:2rem;
    font-weight:700;
}

/* ==========================================
   BUTTON
========================================== */

button{

    padding:14px 28px;

    border:none;

    border-radius:var(--radius-pill);

    background:
        linear-gradient(
            90deg,
            var(--accent-dark),
            var(--primary)
        );

    color:white;

    cursor:pointer;

    transition:.35s;
}

button:hover{

    transform:translateY(-3px);

    box-shadow:0 15px 40px rgba(178,31,41,.35);

}

button:disabled{

    opacity:.45;

    cursor:not-allowed;

}