/* ==========================================
   AURORA
========================================== */

.aurora{

    position:fixed;

    inset:-20%;

    background:

        radial-gradient(circle at 20% 20%,rgba(178,31,41,.32),transparent 35%),

        radial-gradient(circle at 80% 70%,rgba(114,9,15,.45),transparent 40%),

        linear-gradient(
            160deg,
            var(--bg-primary),
            var(--bg-secondary),
            var(--bg-primary)
        );

    filter:blur(40px);

    z-index:-2;

}

/* ==========================================
   STARS
========================================== */

.stars{

    position:fixed;

    inset:0;

    background-image:
        radial-gradient(
            white 1px,
            transparent 1px
        );

    background-size:40px 40px;

    opacity:.20;

    z-index:-1;

}